.services-map-block {
  background-color: var(--background-color);
  color: var(--font-color2);
}

.item {
  padding: 1rem;
}

.item ul {
  list-style: none;
  text-align: left;
}
.light-blue {
  background-color: var(--accent-color);
  border-radius: 5px;
}

.dark-blue {
  background-color: var(--background-color);
}

@media (max-width: 700px) {
  .before-last {
    background-color: var(--accent-color); /* Change to dark blue color */
  }
  .last {
    background-color: var(--background-color); /* Change to light blue color */
  }
}
