.services-map-block {
  background-color: var(--background-color
  );
  color: var(--font-color2);
}



.item {
  padding: 1rem;
}

.item ul {
  list-style: none;
  text-align: left;
}
.light-blue {
  background-color: var(--accent-color);
}

.dark-blue {
  background-color: var(--background-color);
}
