.vertical-timeline {
  display: none;
}

.vertical-timeline.show {
  display: block;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.timeline-icon {
  flex: 0 0 auto;
  margin-right: 20px;
}

.timeline-content {
  flex: 1 1 auto;
}

.timeline-content h3 {
  margin-top: 0;
}
