:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #010C80;
  color: #77D4FC ;
}

a.nav-link {
  color: #77D4FC;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
