:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  --background-color: #010C80;
  --light-background-color: #5968a4;
  --font-color: #77D4FC ;
  --font-color2: white;
  --accent-color: #4B91F1;
}

html {
  background-color: var(--background-color);
}
a.nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
